
{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-heading">
				<h1>{{ platform["name"] }} {{ train["title"] }}</h1>
      		</div>
			  {% if files|length > 0 %}
			<div class="table-responsive">
				<table class="table-striped table-condensed" width="100%">
					<thead>
						<tr>
							<th>File</th>
							<th>Last Modified</th>
							<th>Size</th>
						</tr>
					</thead>
					<tbody>
						{% for item in files %}
						<tr>
							<td><a href="{{ url_for('get_explore_download', **{'platform': platform_key, 'train': train_key, 'filename': item.filename }) }}">
								{{ item.filename }}</a>
							</td>
							<td>{{item.last_modified | naturaldate }}</td>
							<td>{{ item.size | naturalsize }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			No files available.
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}