
{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-sm-12">
			<div class="page-heading">
				<h1>KiCad Downloads</h1>
      		</div>
      			{{ platform["name"] }}
				
			  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="mirrors-64bit-heading">
						<h3 class="panel-title">
							<a role="button" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#mirrors-64bit" aria-expanded="false" aria-controls="mirrors-64bit">
								64-bit (recommended)
							</a>
						</h3>
					</div>
					<div id="mirrors-64bit" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mirrors-64bit-heading" aria-expanded="false" style="height: 0px;">
						<div class="panel-body">
							<div class="list-group download-list-group">
								<h4>Worldwide</h4>
								<a class="list-group-item dl-link osdn" href="https://osdn.net/projects/kicad/storage/kicad-5.1.10_1-x86_64.exe">
									<img src="//osdn.net/sflogo.php?group_id=12159&amp;type=1" width="96" height="31" border="0" alt="OSDN"> OSDN
								</a>
							</div>
							<div class="list-group download-list-group">
								<h4>Europe</h4>
								<a class="list-group-item dl-link" href="https://kicad-downloads.s3.cern.ch/windows/stable/kicad-5.1.10_1-x86_64.exe">
									<img src="https://www.kicad.org/img/about/cern-logo.png"> CERN - Switzerland
								</a>
								<a class="list-group-item dl-link" href="https://www2.futureware.at/~nickoe/kicad-downloads-mirror/windows/stable/kicad-5.1.10_1-x86_64.exe">
									Futureware - Austria
								</a>
							</div>
							<div class="list-group download-list-group">
								<h4>China</h4>
			
								<a class="list-group-item dl-link" href="https://mirrors.cqu.edu.cn/kicad/windows/stable/kicad-5.1.10_1-x86_64.exe">
									<img src="https://www.kicad.org/img/download/chongqing.jpeg"> Chongqing University
								</a>
								<a class="list-group-item dl-link" href="https://mirrors.dgut.edu.cn/kicad/windows/stable/kicad-5.1.10_1-x86_64.exe">
									<img src="https://www.kicad.org/img/download/dgut.png">Dongguan University of Technology
								</a>
								<a class="list-group-item dl-link" href="https://mirror.tuna.tsinghua.edu.cn/kicad/windows/stable/kicad-5.1.10_1-x86_64.exe">
									<img src="https://www.kicad.org/img/download/tuna.png">Tsinghua University
								</a>
							</div>
						</div>
					</div>
				</div>
			
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="mirrors-32bit-heading">
						<h3 class="panel-title">
							<a role="button" class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#mirrors-32bit" aria-expanded="false" aria-controls="mirrors-32bit">
								32-bit
							</a>
						</h3>
					</div>
					<div id="mirrors-32bit" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mirrors-32bit-heading" aria-expanded="false">
						<div class="panel-body">
							<div class="list-group download-list-group">
								<h4>Worldwide</h4>
								<a class="list-group-item dl-link osdn" href="https://osdn.net/projects/kicad/storage/kicad-5.1.10_1-i686.exe">
									<img src="//osdn.net/sflogo.php?group_id=12159&amp;type=1" width="96" height="31" border="0" alt="OSDN">" /&gt; OSDN
								</a>
							</div>
							<div class="list-group download-list-group">
								<h4>Europe</h4>
								<a class="list-group-item dl-link" href="https://kicad-downloads.s3.cern.ch/windows/stable/kicad-5.1.10_1-i686.exe">
									<img src="https://www.kicad.org/img/about/cern-logo.png"> CERN - Switzerland
								</a>
								<a class="list-group-item dl-link" href="https://www2.futureware.at/~nickoe/kicad-downloads-mirror/windows/stable/kicad-5.1.10_1-i686.exe">
									Futureware - Austria
								</a>
							</div>
							<div class="list-group download-list-group">
								<h4>China</h4>
			
								<a class="list-group-item dl-link" href="https://mirrors.cqu.edu.cn/kicad/windows/stable/kicad-5.1.10_1-i686.exe">
									<img src="https://www.kicad.org/img/download/chongqing.jpeg"> Chongqing University - China
								</a>
								<a class="list-group-item dl-link" href="https://mirrors.dgut.edu.cn/kicad/windows/stable/kicad-5.1.10_1-i686.exe">
									<img src="https://www.kicad.org/img/download/dgut.png">Dongguan University of Technology - China
								</a>
								<a class="list-group-item dl-link" href="https://mirror.tuna.tsinghua.edu.cn/kicad/windows/stable/kicad-5.1.10_1-i686.exe">
									<img src="https://www.kicad.org/img/download/tuna.png">Tsinghua University - China
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			
		</div>
	</div>
</div>
{% endblock %}

